ddl.dic: _type.contents character sets

The ``_type.contents`` data item contains several text-based fields:

| Type | Description |
|---|---|
| Text  | case-sens strings or lines of STAR characters |
| Code | case-insens contig. string of STAR characters |
| Name | case-insens contig. string of alpha-num chars or underscore  |
| Tag    | case-insens contig. STAR string with leading underscore |
| Filename | case-sens string identifying an external file |
| Uri | case-sens string as universal resource indicator of a file |

I have a few questions regarding these definitions:
1. What characters are included in the ``STAR characters`` set?

According to [1] and its supplementary material, the extended character set consists of the following code points:
```
[U+0009], [U+000A], [U+000D], [U+0020-U+D7FF], [U+E000-U+FFFD], [U+10000-U10FFF]
```

However, the character set used in the CIF2 definition (supplementary material of [2]) is different:
```
[U+0009], [U+000A], [U+000D], [U+0020-U+007E], [U+00A0-U+D7FF], [U+E000-U+FDCF],
[U+FDF0-U+FFFD], [U+10000-U+1FFFD], [U+20000-U+2FFFD], [U+30000-U+3FFFD],
[U+40000-U+4FFFD], [U+50000-U+5FFFD], [U+60000-U+6FFFD], [U+70000-U+7FFFD],
[U+80000-U+8FFFD], [U+90000-U+9FFFD], [U+A0000-U+AFFFD], [U+B0000-U+BFFFD],
[U+C0000-U+CFFFD], [U+D0000-U+DFFFD], [U+E0000-U+EFFFD], [U+F0000-U+FFFFD],
[U+100000-U+10FFFD]
```
Maybe there is a different definition of the ``STAR characters`` somewhere else? Or is this mismatch intentional?

2. How is a ``contig. string`` defined? (A string with no new lines? A string with no spaces? A string with no white space symbols at all?)
3. How is a ``STAR string`` defined? (A string made out of ``STAR characters`` I assume?)
4. The ``Filename`` and ``Uri`` do not seem to have their character sets specified. What is the implied character set?

[1] Spadaccini, N. and Hall, Sydney R., "Extensions to the star file syntax", Journal of Chemical Information and Modeling 52 (2012), no. 8, 1901–1906, doi: 10.1021/ci300074v
[2] Bernstein, Herbert J.; Bollinger, John C.; Brown, I. David; Gražulis, Saulius; Hester, James R.; McMahon, Brian; Spadaccini, Nick; Westbrook, John D.; Westrip, Simon P., "Specification of the crystallographic information file format, version 2.0", Journal of Applied Crystallography 49 (2016),
no. 1, 277–284, doi: 10.1107/S1600576715021871


Concerning charsets (4.).

* ``Filename``: the charset for ``Filename`` is OS-specific issue and I would vote against any restrictions here. In UNIX-like systems (tested with Ubuntu 12.04) filenames may even contain control characters such as U+000B (vertical tab). I have never seen such a file before, but problems may arise if someone would put such filename in CIF.

* ``URI``: from [Wikipedia on URI](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier):

    Permitted characters within a URI are the ASCII characters for the lowercase and uppercase letters of the modern English alphabet, the Arabic numerals, hyphen, period, underscore, and tilde. Octets represented by any other character must be [percent-encoded](https://en.wikipedia.org/wiki/Percent-encoding).

    Therefore, printable ASCII characters should do for URIs.

Maybe CIF2 should also use some sort of escaping for ``Filename`` just in case something outside CIF2 charset appears? [Percent encoding](https://en.wikipedia.org/wiki/Percent-encoding), Named or [Numeric character references](https://en.wikipedia.org/wiki/Numeric_character_reference) are options here, just to name a few. Of course, It would be best to stay homogeneous throughout all the specification.

Answers to questions:
1. The STAR character set is that defined in your reference [1] and is indeed distinct from the CIF character set. The mismatch is not particularly intentional.  To resolve this and remove any dependence on a particular format for datafiles described using DDLm dictionaries, I think we should define a DDLm characterset. We can choose for this the same characters as the CIF characterset, which is supposed to coincide with the XML characterset.  
2. A "contig. string" is a contiguous string, i.e. containing no whitespace. The CIF2 standard does not recognise non-ASCII Unicode whitespace code points for syntactical purposes, but regardless of that we could additionally rule out any Unicode whitespace here.
3. Yes, a STAR string is a string made out of STAR characters.
4. @merkys has mostly covered this. I suggest we follow his suggestions (no explicit restriction on Filename, URI as for Wikipedia). I also suggest that rather than bend ourselves in knots dealing with unusual filenames that never arise in practice, we simply do not provide a mechanism to encode those filenames, and live with the consequences.

I agree with @jamesrhester on treatment of non-CIF2 characters in ``Filename``. Although I am a fan of catch-all solutions, such strange filenames will probably never appear.

Thank you very much for clarifying the definitions. I'll respond to your comments in order:

1. I agree with the idea of defining a ``DDLm`` character set that if equivalent to that of ``CIF2``.
2. Acknowledged.. I think that the should keep it simple and stick to the ``CIF2`` definition of white space characters (the ASCII white space character set). Additionally, I would propose updating the wording of the definitions in the ``DDLm`` to explicitly state the meaning of the "contig. string".
3. Acknowledged. Maybe the previously defined term "string of STAR characters" should be used in this definition as well to avoid any ambiguity?
4. Acknowledged. I am also not a fan of such lax ``Filename``, but there is indeed value in not pre-optimising things. I would, however, propose to update the definition of ``Uri`` to include a reference to ``RFC 3986`` (as is done in the definition of the ``_type.indices`` enumerator value ``Uri``: "an universal resource identifier string, per RFC 3986").

The definitions of the ``_type.indices`` data item enumerator values should probably be updated accordingly to the conclusions of this discussion as well.

I have just updated ddl.dic. Please check that `_type.contents` is now acceptable. I have left `Filename` purposely vague, but specified case-sensitivity as a minimum requirement. 

Thank you for all the work. Most of the thing that were discussed seem to be covered. My only comment would be that the set of 'ASCII whitespace' is slightly ambiguous -- some people tend to include the '\n' character into it and some do not. Explicitly mentioning which characters make up this set might prove beneficial in the long run.

There are some details relating to the numeric data types  (Integer, Real, Imag, Complex, ect.) that would benefit from clarifying, but it would probably be a better idea to discuss them as a separate issue.

I have now explicitly specified the ASCII whitespace characters that are allowed.

Filename is intended as a value restriction only. The interpretation of the character string is definition-dependent. The way in which a given value is interpreted is best left to the definition to describe.   Interestingly, `_import_details.file_id` specifies a Filename/URI for the location, and no other current
definition uses Filename. We could completely drop this type and instead offer only URI for accessing external material. In the case of `_import_details.file_id`, we could specify a URI reference to allow addressing relative to the location of the importing dictionary.

Thank you for the clarification on the ASCII whitespace characters.

At this point it seems that the difference between the ``Filename`` and the ``Text`` data types is in name only -- both of them are case sensitive, share the same character set and might be further restricted by the human-readable description in the data item definition. There is value in being able to _automatically_ determine that the data item refers to a file, however, in this case it is outweighed by the necessity to lookup the _human-readable_ interpretation of each individual data item.

I would also prefer assigning the ``URI`` data type for the ``_import_details.file_id`` data type since URIs can be used to describe a plethora of schemes, including the [file URI scheme](https://en.wikipedia.org/wiki/File_URI_scheme). However, I have a few suggestions relating to the importing of external files:
1. URIs describing the file location should be absolute, not relative;
2. The version number of the imported file should be also explicitly specified in the import statement. Currently, a change in an external file could drastically affect the dictionary ontology without it being reflected by the version number of the importing dictionary.

What do you think?

I understand that the attraction of absolute URIs is that the ontology is unambiguously constructed. The advantage of relative URIs is that imported files can be specified relative to wherever the dictionary file is, rather than a single (possibly off-line) absolute location (e.g. at the IUCr server), and the textual content of the import attribute is reduced by having shorter paths. If absolute URIs are used, in order to avoid accessing the IUCr server every dictionary read dictionary tools could be advised to check the _dictionary.uri attribute of local files to see if they correspond to the given URI.  We can of course allow both by saying: "if a relative URI is provided, it is taken relative to the location of the current dictionary."  

I suggest we allow relative URIs, and give dictionary authors the disgression as to how to format their URI. The DDLm attribute dictionary should use absolute URIs to set a good example. 

I agree that versioning is vital. The recent discussion around redistributing attributes between the template and main dictionary highlights this. We should use semantic versioning so that minor changes do not cause tools to refuse the import. I will add an extra field to the import attribute. 

I see two separate objectives that need to be reached while importing an external file:
1) unambiguously identifying the file;
2) locating the file so it could be read and imported.

1) As you mentioned before, absolute URIs work best for this purpose. Relative URIs also work, but only if they are relative to an absolute URI of the importing file (allowing one to construct an absolute URI for the imported file) and not the file on the local system;
2) I imagine that dictionary handling software could implement this objective in a way most similar to the way programing languages handle their libraries. The imported files could be placed anywhere in the system and it would be up to the software to locate it (i.e. searching in a path provided by a config file, command line parameters, environment variables, etc.). This would also allow one to specify a search path relative to the current location/importing file.

The benefit of using absolute URIs in combination with 2) is that in case the file could not be located on the local system (or if the located version is outdated/incompatible) it could be automatically downloaded and cached.

I think we both have the same idea. The only thing I want to make sure of is that an absolute URI can be constructed for any of the dictionary components.

I believe the URI resolution procedure of RFC3986, Section 5 should be sufficient for our purposes. Applications are welcome to check local directories for objects with the correct absolute URI, and we do not need to specify this behaviour.

What do you think of the following new definitions? 

`_import_details.file_id`: 
    a URI reference as per RFC3986 giving the location of the source dictionary. The base URI for the   URI reference is given by `_dictionary.uri` of the importing dictionary

`_import_details.file_version`: 
  the required version of the imported dictionary, as given by `_dictionary.version`. Versions with the same major version number are compatible. 

The given definitions seem clear and detailed. Maybe the ``_import_details.file_id`` definition could benefit from adding a few URI examples (one with an absolute URI and one with a relative one with the explanation to what absolute URI it should resolve) just to make the idea clearer.

I would also update the ``_dictionary.uri`` definition to state that an absolute URI is _highly recommended_ or even _required_ in this data item.

Please see the latest commit incorporating the above suggestions. I have chosen a single integer for `_import_details.file_version` as only the major version number is significant in this case. I have also attempted to clarify the meaning of the major version number in the definition for `_dictionary.version`. Please examine and suggest any improvements.  I believe there are no further outstanding items in this issue.

I would actually argue against using only an integer for the version number for the following reasons:
1. Consistency. Since semantic versioning is used for the dictionary files, the same should be used for the imported files as well;
2. Traceability. Using only the major version number obfuscates information. The dictionary handling software can always refer to the major version number as the important one, but having other parts of the version can be beneficial in multiple ways -- i.e. allowing the software to know whether the newer version of the imported file is readily available for download (even if it only contains subtle bug fixes that do not require a change in the major version).

I would also like some clarification on the  new definition of the ``_dictionary.version``:
```
 A unique version identifier for the dictionary.  Where a
 dictionary contains templates, the major version number
 should be incremented whenever one or more templates
 remove or add attributes.
```

 I would argue against bumping the major version number each time a new data item is added (in the imported file or in the dictionary file itself). If the semantic versioning of form \<major\>.\<minor\>.\<patch\> (or \<major\>.\<version\>.\<update\> as is it is given in description of the ``_type.contents`` data item ``version`` value) is used, the bump in major version number should signal changes in the API that are incompatible with the current API. In the context of CIF dictionaries, an addition of a new data item only extends the API -- older files can still validate against a new dictionary -- so it should only require a change in the **minor** dictionary version.

Changes that garner a bump in the **major** version number would then be those due to which the previously valid file becomes an invalid one. For example:
1. Removal of a data items;
2. Removal of an aliases;
3. Change in data type;
3. Changing the category ``_definition.class`` from ``Set`` to ``Loop`` and vice versa, etc.

Depending on the context, the previously mentioned changes could also potentially be treated as **patch** level changes. For example, correcting a typo in a data name would technically be a removal and an addition of a data name, but one probably would not like to bump the major version number just for that.

This is the way I would interpret dictionary versioning, but maybe the IUCr has a different model in mind. Either way, it would be very useful to eventually explicitly document the versioning policy so dictionary users could know exactly what to expect from a change in dictionary version number. Do you find this versioning interpretation reasonable?

Finally, after rereading the definition of the ``_import_details.file_id`` I would suggest a slight modification. Maybe the sentence  ``The base URI for the URI reference is the _dictionary.uri ...`` could be rephrased as ``In case a relative URI is used, the base URI for the URI reference is the _dictionary.uri...`. Even though the term ``URI reference`` already encompasses both -- absolute and relative URI -- this change makes it explicitly clear that both are acceptable.

I have opened a new issue for the versioning discussion (#47). I have backed out the additional text in `_dictionary.version` pending the result of that discussion.

Meanwhile, I have incorporated the suggestions for `_import_details.file_id` and returned `_import_details.file_version` to full semantic version.

As the original issues raised have all been resolved, I'm closing this issue. The versioning discussion continues in a separate issue.